{% set cards = craft.entries.section('cards').all() %}

<div class="kaart-container">
    {% for card in cards %}
        <div class="kaart">
            <a href="{{ card.linkUrl }}">
                <img src="{{ siteUrl('fotos/gamen.jpg') }}" alt="{{ card.titlecardone }}" style="width:100%">
            </a>
            <div class="inhoud">
                <h4 class="kop"><b>{{ card.titlecardone }}</b></h4>
                <p class="tekst">{{ card.descriptioncardone }}</p>
            </div>
        </div>

        <div class="kaart">
            <a href="{{ card.linkUrl }}">
                <img src="{{ siteUrl('fotos/draaien.png') }}" alt="{{ card.titlecardtwo }}" style="width:100%">
            </a>
            <div class="inhoud">
                <h4 class="kop"><b>{{ card.titlecardtwo }}</b></h4>
                <p class="tekst">{{ card.descriptioncardtwo }}</p>
            </div>
        </div>

        <div class="kaart">
            <a href="{{ card.linkUrl }}">
                <img src="{{ siteUrl('fotos/reizen.webp') }}" alt="{{ card.titlecardthree }}" style="width:100%">
            </a>
            <div class="inhoud">
                <h4 class="kop"><b>{{ card.titlecardthree }}</b></h4>
                <p class="tekst">{{ card.descriptioncardthree }}</p>
            </div>
        </div>
    {% endfor %}
</div>