{% set footer = craft.entries.section('footer').one() %}

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-left">
            <div class="logo">
                <a href="{{ siteUrl }}"><img src="{{ siteUrl }}fotos/logo.png" alt="Logo" height="60"></a>
            </div>
            <p class="footer-description">{{ footer.footerdescription }}</p>
            <div class="social-icons">
                <a href="{{ footer.facebookUrl }}"> <img src="{{ siteUrl }}fotos/facebook.png" alt="Facebook" height="30"> </a>
                <a href="{{ footer.instagramUrl }}"> <img src="{{ siteUrl }}fotos/instagram.png" alt="Instagram" height="30"> </a>
                <a href="{{ footer.twitterUrl }}"> <img src="{{ siteUrl }}fotos/x.png" alt="Twitter" height="30"> </a>
            </div>
        </div>
        <div class="footer-center">
            <p class="footer-title">Navigeer</p>
            <nav>
                <ul class="footer-menu">
                    {% for link in footer.navigationLinks %}
                        <li><a href="{{ link.url }}">{{ link.label }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="footer-right">
            <div class="contact-info">
                <p class="contact-detail">Email: {{ footer.email }}</p>
                <p class="contact-detail">Adres: {{ footer.address }}</p>
            </div>
        </div>
    </div>
</footer>