{% set navbar = craft.entries.section('navbar').one() %}

<div class="navbar">
    <div class="logo">
        <a href="{{ siteUrl }}">
            <img src="{{ navbar.logoImage.one().url }}" height="42px" alt="Logo"/>
        </a>
    </div>
    <a class="{{ currentPage == 'home' ? 'active' : '' }}" href="{{ siteUrl }}">{{ navbar.navhome }}</a>
    <a class="{{ currentPage == 'producten' ? 'active' : '' }}" href="{{ siteUrl ~ 'producten' }}">{{ navbar.navproducten }}</a>
    <a class="{{ currentPage == 'shop' ? 'active' : '' }}" href="{{ siteUrl ~ 'shop' }}">{{ navbar.navshop }}</a>
    <div class="login">
        <a href="{{ siteUrl ~ 'login' }}">{{ navbar.navlogin }}</a>
    </div>
    <div class="cart">
        <a href="{{ siteUrl ~ 'cart' }}">
            <img src="{{ navbar.cartImage.one().url }}" alt="Cart"/>
        </a>
        <div class="badge">0</div>
    </div>
</div>