<div id="mijnDiv">
    <h2 class="pvdm">Producten van de maand</h2>
    <div class="productcontainer">
        <div class="product">
            <a href="productpagina.html"> <img src="{{ siteUrl }}fotos/corsair1.jpg" alt="Product 1" class="product-afbeelding"></a>
            <h3 class="product-titel"><a href="productpagina.html">Corsair HS35</a></h3>
            <p class="product-info">Batterijduur: 28 uur</p>
            <p class="product-info">Gewicht: 200 gram</p>
            <p class="product-prijs">€99.99</p>
            <button> <img class="winkelwageninbutton" src="{{ siteUrl }}fotos/winkelwagen.png" height=""/> In winkelwagen</button>
        </div>
        <div class="product">
            <img src="{{ siteUrl }}fotos/phoenix1.jpg" alt="Product 1" class="product-afbeelding">
            <h3 class="product-titel"><a href="#">PhoenixXperience Wireless Pro</a></h3>
            <p class="product-info">Batterijduur: 40 uur</p>
            <p class="product-info">Gewicht: 280 gram</p>
            <p class="product-prijs">€149.99</p>
            <button> <img class="winkelwageninbutton" src="{{ siteUrl }}fotos/winkelwagen.png" height=""/> In winkelwagen</button>
        </div>
        <div class="product">
            <img src="{{ siteUrl }}fotos/eliteaudio1.jpg" alt="Product 1" class="product-afbeelding">
            <h3 class="product-titel"><a href="#">EliteAudio Noise-Canceling Master</a></h3>
            <p class="product-info">Batterijduur: 35 uur</p>
            <p class="product-info">Gewicht: 260 gram</p>
            <p class="product-prijs">€129.99</p>
            <button> <img class="winkelwageninbutton" src="{{ siteUrl }}fotos/winkelwagen.png" height=""/> In winkelwagen</button>
        </div>
    </div>
</div>