{% set product = craft.entries.section('productDetail').one() %}
{% set relatedProducts = craft.entries.section('productrelated').relatedTo(product).limit(3).all() %}

{% block content %}
<div class="breadcrumb">
  <a href="{{ siteUrl('') }}">Homepagina</a> &gt;
  <a href="{{ siteUrl('producten') }}">Producten</a> &gt;
  <span><b>{{ product.title }}</b></span>
</div>

<!-- Product beschrijving -->
<div>
  <div class="product-name"><h3>{{ product.title }}</h3></div>
  <div class="product-container">
     <img class="product-image" src="{{ siteUrl('fotos/corsair1.jpg') }}">
    <div class="thumbnail-container">
      <img class="thumbnail" src="{{ siteUrl('fotos/corsairhs35_2.png') }}">
      <img class="thumbnail" src="{{ siteUrl('fotos/corsairhs35_3.png') }}">
      <img class="thumbnail" src="{{ siteUrl('fotos/corsairhs35_4.png') }}">
    </div>

    <div class="product-details">
      <div class="product-description">
        <p>{{ product.productDescription }}</p>
      </div>
      <!-- Technische specificaties -->
      <div class="technische-specificaties">
        <h3>Technische specificaties</h3>
        <ul>
          <li><strong>Geluidskwaliteit:</strong><b> {{ product.soundQuality }}</b></li>
          <li><strong>Connectiviteit:</strong> <b>{{ product.connectivity }}</b></li>
          <li><strong>Compatibiliteit:</strong> <b>{{ product.compatibility }}</b></li>
          <li><strong>Microfoon:</strong> <b>{{ product.microphone }}</b></li>
        </ul>
      </div>

      <div class="product-price"><h2 class="productprijsproductpagina"><b>{{ product.price }}</b></h2><br>
        <del><h5>aangeraden prijs: {{ product.recommendedPrice }}</h5></del>
      </div>
      <div>
        <label for="quantity">Hoeveelheid:</label>
        <input type="number" id="quantity" class="inputaantalproductpagina" value="1">
        <button class="buttonproductpagina"><img src="{{ siteUrl('fotos/winkelwagen.png') }}"> In winkelwagen</button>
      </div>
    </div>
  </div>
</div>

<div class="microfoondiv">
  <div class="microfoontesten">
    <div class="microfoontest">
      <button id="playButton">Test microfoon</button>
      <p><b>Hier kunt u het geluid van de microfoon testen</b></p>
      <audio id="audio" src="{{ siteUrl('audio/audio.mp3') }}"></audio>
    </div>
  </div>
</div>

<div class="vergelijkingstabel">
  <table>
    <thead>
      <tr>
        <th>Kenmerk</th>
        <th>{{ product.title }}</th>
        <th>EliteAudio Noise-Canceling Master</th>
        <th>BetaBlast Lite Headset</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Prijs</b></td>
        <td>{{ product.price }}</td>
        <td>€129.99</td>
        <td>€29.99</td>
      </tr>
      <tr>
        <td><b>Geluidskwaliteit</b></td>
        <td>{{ product.soundQuality }}</td>
        <td>Goed</td>
        <td>Slecht</td>
      </tr>
      <tr>
        <td><b>Connectiviteit</b></td>
        <td>{{ product.connectivity }}</td>
        <td>Draadloos</td>
        <td>Bedraad</td>
      </tr>
      <tr>
        <td><b>Compatibiliteit</b></td>
        <td>{{ product.compatibility }}</td>
        <td>PC, PlayStation</td>
        <td>PC, Xbox</td>
      </tr>
      <tr>
        <td><b>Microfoon</b></td>
        <td>{{ product.microphone }}</td>
        <td>Standaard microfoon</td>
        <td>Krachtige ruisonderdrukking</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="gerelateerde-producten">
  <h3>{{ product.beschrijvingproducten }}</h3>

  <div class="product-grid">
    {% for relatedProduct in relatedProducts %}
      <div class="gerelateerd-product">
        <a href="{{ relatedProduct.url }}">
          <img src="{{ siteUrl('fotos/phoenix1.jpg') }}">
        </a>
        <p>{{ relatedProduct.title }}</p>
        <p class="product-prijs">{{ relatedProduct.price }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<div id="mijnDiv">
    <div class="productcontainer">
        {% set productSlugs = ['productone', 'producttwo', 'productthree'] %} {# Vervang deze slugs door de daadwerkelijke slugs van je producten #}
        {% set products = craft.entries()
            .section('products')
            .slug(productSlugs)
            .all() %}
        
        {% for key, product in products %}
        <div class="product">
            <a href="{{ product.url }}">
                {% if key == 0 %}
                    <img src="{{ siteUrl('fotos/bosequiet.jpg') }}" alt="{{ product.titleproduct }}" class="product-afbeelding">
                {% elseif key == 1 %}
                    <img src="{{ siteUrl('fotos/planton.jpg') }}" alt="{{ product.titleproduct }}" class="product-afbeelding">
                {% elseif key == 2 %}
                    <img src="{{ siteUrl('fotos/phoenix1.jpg') }}" alt="{{ product.titleproduct }}" class="product-afbeelding">
                {% endif %}
            </a>
            <h3 class="product-titel">
                <a href="{{ products.url }}">{{ product.titleproduct }}</a>
            </h3>
            <p class="product-info">{{ product.batterylifeproduct }}</p>
            <p class="product-info">{{ product.weightproduct }} gram</p>
            <p class="product-prijs">{{ product.priceproduct }}</p>
            <button>
                <p>{{ product.buttonproduct }}</p>
            </button>
        </div>
        {% endfor %}
    </div>
</div>