<div id="mijnDiv">
    <h2 class="pvdm">Producten van de maand</h2>
    <div class="productcontainer">
        {% set productSlugs = ['productone', 'producttwo', 'productthree'] %} {# Replace these slugs with the actual slugs of your products #}
        {% set products = craft.entries()
            .section('products')
            .slug(productSlugs)
            .all() %}
        
        {% for product in products %}
        <div class="product">
            <a href="{{ product.url }}">
                <img src="{{ product.imageproduct.one().url }}" alt="{{ product.titleproduct }}" class="product-afbeelding">
            </a>
            <h3 class="product-titel">
                <a href="{{ product.url }}">{{ product.titleproduct }}</a>
            </h3>
            <p class="product-info">Batterijduur: {{ product.batterylifeproduct }}</p>
            <p class="product-info">Gewicht: {{ product.weightproduct }} gram</p>
            <p class="product-prijs">{{ product.priceproduct }}</p>
            <button>
                <img class="winkelwageninbutton" src="{{ product.buttonimageproduct.one().url }}" height=""/>
                In winkelwagen
            </button>
        </div>
        {% endfor %}
    </div>
</div>