<div id="mijnDiv">
    <div class="productcontainer">
        {% set productSlugs = ['productone', 'producttwo', 'productthree'] %} {# Vervang deze slugs door de daadwerkelijke slugs van je producten #}
        {% set products = craft.entries()
            .section('products')
            .slug(productSlugs)
            .all() %}
        
        {% for key, product in products %}
        <div class="product">
            <a href="{{ product.url }}">
                {% if key == 0 %}
                    <img src="{{ siteUrl('fotos/bosequiet.jpg') }}" alt="{{ product.titleproduct }}" class="product-afbeelding">
                {% elseif key == 1 %}
                    <img src="{{ siteUrl('fotos/planton.jpg') }}" alt="{{ product.titleproduct }}" class="product-afbeelding">
                {% elseif key == 2 %}
                    <img src="{{ siteUrl('fotos/phoenix1.jpg') }}" alt="{{ product.titleproduct }}" class="product-afbeelding">
                {% endif %}
            </a>
            <h3 class="product-titel">
                <a href="{{ products.url }}">{{ product.titleproduct }}</a>
            </h3>
            <p class="product-info">{{ product.batterylifeproduct }}</p>
            <p class="product-info">{{ product.weightproduct }} gram</p>
            <p class="product-prijs">{{ product.priceproduct }}</p>
            <button>
                <p>{{ product.buttonproduct }}</p>
            </button>
        </div>
        {% endfor %}
    </div>
</div>