<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url('css/styles.css') }}">
</head>
<body>
   <nav>
    <a class="{{ currentPage == 'home' ? 'active' : '' }}" href="{{ siteUrl }}">{{ navbar.navhome }}</a>
    <a class="{{ currentPage == 'producten' ? 'active' : '' }}" href="{{ siteUrl('productenPagina') }}">{{ navbar.navproducten }}</a>
    <a class="{{ currentPage == 'shop' ? 'active' : '' }}" href="{{ siteUrl }}shop">{{ navbar.navshop }}</a>
</nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% set footer = craft.entries.section('footer').one() %}
        <nav>
            <ul class="footer-menu">
                {% if footer %}
                    {% if footer.link1 %}
                        <li><a href="{{ footer.link1 }}">{{ footer.link1 }}</a></li>
                    {% endif %}
                    {% if footer.link2 %}
                        <li><a href="{{ footer.link2 }}">{{ footer.link2 }}</a></li>
                    {% endif %}
                    {% if footer.link3 %}
                        <li><a href="{{ footer.link3 }}">{{ footer.link3 }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="#">No links available</a></li>
                {% endif %}
            </ul>
        </nav>
    </footer>
</body>
</html>